.todo {
  align-items: center;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;
  border-bottom: solid 1px $light-grey-border;

  input[type="checkbox"] {
    cursor: pointer;
  }

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.todo__subtext {
  color: #999;
}

.todo__completed {
  p, .todo__subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}

.edit {
  align-self: flex-start;
  margin: 1px 0px 0px 50px;
}

.edit-input {
  height: 1.6em;
  padding: 0;
}

.save {
  padding: .85em 2em;
}

.editBtn, .save {
  margin:0;
}
